%div.packager-dashboard
  %div.container.container-padding
    %div.panel.panel-default
      %div.panel-heading
        Packager Dashboard
      %div.panel-body#packager-dashboard
        - @data.each do |acct, repos|
          %table.table.table-hover
            %thead
              %tr
                %th= acct.name
                %th
                  %a{:href => packager_repositories_path(acct.id)}
                    %span.glyphicon.glyphicon-cog

            - repos.each do |repo, jobs|
              %tr
                %td= link_to(repo.name, packager_repository_path(repo.id))
                %td= jobs.count
