- id = 'packager'

:ruby
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals  => {
        :id => "#{id}-panel",
        :heading => @repo.name,
        :panel_content => render(:partial => 'layouts/table', :locals => { :header_data => @table_headers, :data => @table_data })
      }
    )
  end

= render(:partial => 'layouts/container', :locals => { :container_class => "#{id}-show", :container_id => id })
